<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup" >
      <section name="Counters" type="System.Configuration.NameValueSectionHandler" />
      <section name="RemoteHost" type="System.Configuration.SingleTagSectionHandler" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <RemoteHost host="172.27.0.23" port="2100" />
    <Counters>
      <add key="cpu(0)" value="Symon.CPUInfo"/>
      <add key="mem" value="Symon.MEMInfo"/>
      <add key="io(C:)" value="Symon.IOInfo"/>
      <add key="io(E:)" value="Symon.IOInfo"/>
      <add key="io(F:)" value="Symon.IOInfo"/>
      <add key="if(1)" value="Symon.IFInfo"/>
    </Counters>
  </userSettings>
  <system.diagnostics>
    <trace autoflush="true" useGlobalLock="true">
      <listeners>
        <add name="ConsoleListener" type="System.Diagnostics.ConsoleTraceListener"/>
        <add name="TextListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="logfile.log"/>
        <add name="EventListener" type="System.Diagnostics.EventLogTraceListener" initializeData="Symon"/>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
